.profileCard {
    /* height: 300px; */
    background-color: lightgray;
    margin: 10px 0;
    /* padding: 10%; */
    /* height: 90%; */
}

.bioCard { 
    min-height: 100px;
    background-color: white;
    line-height: 100px;
}

.embedCard {
    background-color: lightcyan;
}

.moreCard { 
    min-height: 100px;
    background-color: white;
    line-height: 100px;
}

.imageCard {
    min-height: 300px;
    /* background-color: lightgray; */
    /* height: 100%; */
    background-color: #231f20;
}

.imageCardTitle {
    background-color: white;
    margin: 0;
    font-size: calc(8px + 2vmin);
}

.imageCardImage { 
    /* opacity: 0.5; */
    /* position: relative;
    height: 90%;
    padding: 10px;
    object-fit: fill; */
}

/** MEDIA QUERIES *************************************************/

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {  }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 

 }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }