.gallery-body {
    text-align: unset;
    font-family: monospace;
}

.gallery {
    display: inline-block;
}

.galleryImage {
    width: 200px;
    height: 200px;
    padding: 20px;
    display: inline-block;
}