.gallery {
    text-align: unset;
    font-family: monospace;
    height: 100vh;
    padding-top: 1vh;
}

/* @media screen and (max-width: 992px) {
    .gallery h3 {
        font-size: 1.5rem;
    }
} */

.gallery-body {
    text-align: unset;
    font-family: monospace;
    padding: 5vw;
    padding-top: 7vw;
    padding-bottom: 50px;
}

.galleryImage {
    padding: 20px;
    margin: 5px 0;
    display: inline-block;
    border: solid black 1px;
}