.profile {
    text-align: unset;
    font-family: monospace;
    /* height: 100vh; */
    padding-top: 1vh;
    margin-bottom: 100px;
    padding-left: 15px;
    padding-right: 15px;
}


.profileBody {
    text-align: unset;
    font-family: monospace;
    font-size: 16px;
    padding-bottom: 25px;
}

.pictureRow {
    padding-bottom: 10px;
}

/** Profile Header */
.profileImage {
    margin: 5px 0;
    display: inline-block;
}

.proPicCrop {
    margin: 5px 0;
    width: 50%;
    height: auto;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.proPic {
    margin: auto;
}

.galleryImage {
    padding: 20px;
    margin: 5px 0;
    display: inline-block;
    border: solid black 1px;
}

.linkRow {
    text-align: center;
    display: block;
    margin-bottom: 10px;
}

.profileCol {
    min-height: 100px;
    margin: 10px 0;
}

.profileRow {
    /* height: 80vh;
    max-height: 80vh; */
}

#bottomProfileRow {
    /* margin-bottom: 350px; */
}

/* Logo */
#dcwwLogo {
    text-align: unset;
    /* padding: 20px 20px 20px 20px; */
    margin: 5px 0;
    display: inline-block;
    width: 75px;
    height: auto;
}

#aboutSignOff {
    padding: 20px 20px 20px 20px;
    margin: 175px 0 0 0;
    display: inline-block;
    width: 75px;
    height: auto;
}


/** Profile-specific *************************************************/
#stoicdapoet {
    /* background: purple; */
}

.stoicBio {
    background-color: lightgray;
    padding: 20px;
    font-size: 12px;
    height: inherit;
}

/* .stoicOverlay {
    border: none;
    position: absolute;
    background: white;
    width: 90vw;
    height: 90vw;
    border: 1px solid black;
} */

#stoicOverlayHeader {
    display: block;
    text-align: center;
    color: black;
}

.stoicOverlayButton {
    text-decoration: none;
}


/** MEDIA QUERIES *************************************************/

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {  

    .profileRow {
        height: 30vh;
    }

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .proPicCrop {
        margin: 5px 0;
        width: 25%;
        height: auto;
        border-radius: 50%;
        position: relative;
        overflow: hidden;
        display: inline-block;
    }
    
    .proPic {
        margin: auto;
    }

    .profileRow {
        height: 35vh;
    }

    .bottomProfileRow {

    }
 }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }