.profile {
    text-align: unset;
    font-family: monospace;
    height: 100vh;
    padding-top: 1vh;
}


.profileBody {
    text-align: unset;
    font-family: monospace;
    font-size: 16px;
    padding-bottom: 25px;
}

.pictureRow {
    padding-bottom: 10px;
}

/** Profile Header */
.profileImage {
    margin: 5px 0;
    display: inline-block;
}

.proPicCrop {
    margin: 5px 0;
    width: 50%;
    height: auto;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.proPic {
    margin: auto;
}

.galleryImage {
    padding: 20px;
    margin: 5px 0;
    display: inline-block;
    border: solid black 1px;
}

.musicRow {
    text-align: center;
    display: block;
}

.bioRow {
    text-align: center;
}

.linkRow {
    text-align: center;
    display: block;
    margin-bottom: 10px;
}

.profileRow {
    height: 80vh;
}

/* Logo */
#dcwwLogo {
    text-align: unset;
    /* padding: 20px 20px 20px 20px; */
    margin: 5px 0;
    display: inline-block;
    width: 75px;
    height: auto;
}

#aboutSignOff {
    padding: 20px 20px 20px 20px;
    margin: 175px 0 0 0;
    display: inline-block;
    width: 75px;
    height: auto;
}


/** Carousel */
.carouselComponent {
    width: 100%;
    height: 50vw;
}


/** Profile-specific */
.stoicBio {
    background-color: lightgray;
    padding: 20px;
    font-size: 12px;
    height: inherit;
}


/** MEDIA QUERIES *************************************************/

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {  

    .profileRow {
        height: 30vh;
    }

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .proPicCrop {
        margin: 5px 0;
        width: 25%;
        height: auto;
        border-radius: 50%;
        position: relative;
        overflow: hidden;
        display: inline-block;
    }
    
    .proPic {
        margin: auto;
    }

    .profileRow {
        height: 35vh;
    }
 }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }